html {
  font-family: 'Open Sans', sans-serif;
}

.Hero {
  height: 540px;
  color: white;
  background-image: url(assets/hero-image.jpg);
  background-size: cover;
  background-position: 50% 100%;
}

.Navbar {
  display: grid;
  grid-template-columns: repeat(8, 1fr) 1.5fr;
  justify-items: center;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  background-image: linear-gradient(
    to bottom,
    hsla(0, 0%, 50%, 1),
    hsla(0, 0%, 30%, 1) 50%,
    hsla(0, 0%, 50%, 1) 100%
  );
  color: white;
  border-radius: 5px;
}

.Navbar__link {
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  font-weight: 500;
  border-right: 1px solid grey;
  cursor: pointer;
}

.Navbar__link:hover {
  background-image: linear-gradient(
    to bottom,
    hsla(0, 0%, 30%, 1),
    hsla(0, 0%, 20%, 1) 50%,
    hsla(0, 0%, 30%, 1) 100%
  );
}

.Grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
}

.Grid__item {
  height: 200px;
  background-position: 50% 50%;
  background-size: cover;
  margin: 2px 0;
}

.Grid__item--1 {
  background-image: url('assets/apple-grid-1.jpg');
}

.Grid__item--2 {
  background-image: url('assets/apple-grid-2.jpg');
}

.Grid__item--3 {
  background-image: url('assets/apple-grid-3.jpg');
}

.Grid__item--4 {
  background-image: url('assets/apple-grid-4.jpg');
}

.Copyright {
  color: grey;
  font-size: 10px;
  line-height: 14px;
}

.Copyright__link {
  color: #489fd5;
}
